<a href="https://colab.research.google.com/github/ysnayal17/TIHAN_Assignments/blob/main/Assignment_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Topic 2: Lists (5 Questions)**

---

### **Q6. Find Maximum in a List**

**Description:**

Take `N` integers in a list and print the maximum number.

We can store a given `N` Integer in a list name `numbers`.

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.

**For example, Input:**

```

  
numbers = [10, 3, 25, 8, 7]

```

**Output:**

```
  
25

```

---

In [2]:
numbers = [int(i) for i in input().split(" ")]
print(max(numbers))

10 3 25 8 7
25

### **Q7. Reverse a List**

**Description:**

Take a list of numbers and print it in reverse order.

We can store a given `N` numbers in a list name `numbers`.

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.

**For example, Input:**

```

  
numbers = [1, 2, 3, 4]

```

**Output:**

```
csharp
  
[4, 3, 2, 1]

```

---

In [6]:
numbers = [int(i) for i in input().split(" ")]
numbers.reverse()
numbers

1 2 3 4

[4, 3, 2, 1]

### **Q8. Real-World Use Case: Shopping Cart Total**

**Description:**

You are building an **e-commerce app**. Calculate the total price of all items in the cart.

We can store a given `N` Items price in a list name `prices`.

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.

**For example, Input:**

```

  
prices = [100, 200, 50]

```

**Output:**

```
   
  
Total: 350

```

---

In [8]:
prices = [int(i) for i in input().split(" ")]
print(f"Total: {sum(prices)}")

100 200 50
Total: 350

### **Q9. Real-World Use Case: Temperature Records**

**Description:**

Store **7 days of temperature data** in a list and print the highest temperature.

We can store a given 7 days of temperature in a list name `temps`.

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.

**For example, Input:**

```

  
temps = [30, 32, 29, 35, 33, 31, 28]

```

**Output:**

```
  
35

```

---

In [9]:
temps = [int(i) for i in input().split(" ")]
print(max(temps))

30 32 29 35 33 31 28
35

### **Q10. Real-World Use Case: Student Marks Analysis**

**Description:**

Take marks of 5 students in a list and print the average.

We can store 5 students marks in a list name `marks`.

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.

**For example, Input:**

```

  
marks = [80, 90, 85, 70, 95]

```

**Output:**

```
   
  
Average: 84.0

```

In [13]:
marks = [int(i) for i in input().split(" ")]
avg = sum(marks)/len(marks)
print(f"Average: {avg}")
print("%.2f" % avg)

2 3 5
Average: 3.3333333333333335
3.33