<a href="https://colab.research.google.com/github/ysnayal17/TIHAN_Assignments/blob/main/Assignment_Part_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Topic 4: Functions (5 Questions)**

---

### **Q15. Function to Add Two Numbers**

**Description:**

Write a function that takes two numbers and returns their sum.

We can store 2 numbers in variables `a` and `b` respectively.

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.

**Input:**

```

  
a = 5
b = 7

```

**Output:**

```
  
12

```

---

In [ ]:
def add(a, b):
  return a + b

print(add(int(input()), int(input())))

5
7
12

### **Q16. Function to Check Prime**

**Description:**

Write a function that checks whether a number is prime.

We can store a given number in a variable name `n`.

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.

**Input:**

```

  
n = 7

```

**Output:**

```

  
Prime

```

---

In [ ]:
def is_prime(n):
  for i in range(2, n // 2 + 1):
    if n % i == 0:
      return False
    else:
      return True
check = is_prime(int(input()))
print("Prime") if check else print("")

8

### **Q17. Real-World Use Case: Movie Ticket Calculator**

**Description:**

Write a function to calculate the total price of movie tickets given quantity and price per ticket.

We can create a function with the parameters (quantity, price).

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.
- We need to call the function in order to execute it on the given data.

**Input:**

```

  
quantity = 3
price = 150

```

**Output:**

```
   
  
Total: 450

```

---

In [ ]:
def tot_price(qty, price):
  return qty * price
print(f"Total: {tot_price(int(input()), int(input()))}")

3
150
Total: 450

### **Q18. Real-World Use Case: Salary Bonus Calculator**

**Description:**

A company gives a **10% bonus** to employees. Write a function that takes salary and returns total salary after bonus.

We can create a function with the parameter (salary).

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.
- We need to call the function in order to execute it on the given data.

**Input:**

```

  
salary = 50000

```

**Output:**

```
  
55000.0

```

---

### **Q19. Real-World Use Case: Taxi Fare Estimator**

**Description:**

Write a function that calculates taxi fare based on distance (₹10/km) and adds a fixed charge of ₹50.

We can create a function with the parameter (distance) and then calculate the Taxi Fare based on the given condition.

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.
- We need to call the function in order to execute it on the given data.

**Input:**

```

  
distance = 10

```

**Output:**

```
  
150

```

---

---

In [ ]:
def fare(dist):
  return 50 + dist * 10

print(fare(int(input())))

10
150

## **Topic 5: NumPy (1 Question)**

---

### **Q20. Create NumPy Array and Find Mean**

**Description:**

Create a NumPy array from a list of integers and find its mean.

We can create a numpy array name `arr`.

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.

**Input:**

```

  
arr = [10, 20, 30, 40, 50]

```

**Output:**

```

  
Mean: 30.0

```

In [ ]:
import numpy as np
numbers = [int(i) for i in input().split(" ")]
arr = np.array(numbers)
print(f"Mean: {np.mean(arr)}")

10 20 30 40 50
Mean: 30.0

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')

In [8]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df[(df['sex'].isin(['male'])) & (df['pclass'] == 3) & (df['fare'] > 20)]

In [ ]:
df[(df['age'] < 10) & (df['survived'] == 1)]

In [12]:
df.groupby(['sex', 'class'])['survived'].mean()

sex     class
female  First     0.968085
        Second    0.921053
        Third     0.500000
male    First     0.368852
        Second    0.157407
        Third     0.135447
Name: survived, dtype: float64

In [17]:
df.groupby('embarked')[['age', 'fare']].agg('mean')
# or
df.groupby('embarked')[['age', 'fare']].mean()

                age       fare
embarked
C         30.814769  59.954144
Q         28.089286  13.276030
S         29.445397  27.079812